*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: seagreen;
}
.login{
    background-image: url(./login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    margin-left: 500px;
    margin-top: 10%;
}
.form{
    text-align: center;
    position: relative;
    top: 30px;
}
.form h2{
    text-shadow: 2px 3px 4px seagreen;
    color: antiquewhite;
    font-size: 70px;
    position: relative;
    bottom:30px ;
    
}
.form input{
margin-top: 10px;
padding: 5px 10px;
background-color: transparent;

}
.form input:hover{
   border: 1px solid seagreen;
   
}
.form p{
    font-size: 8px;
    color: seagreen;
    margin-top: 5px;
}
.form span{
    margin-left: 55px;
}
.form button a{
    text-decoration: none;
    color: seagreen;
}
.form button{
    margin-top: 10px;
    padding: 10px 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid seagreen;
}
.form button:hover{
    background-color:seagreen ;
    color: antiquewhite;
}
